@font-face {
    font-family: "Rafale";
    src: url("../fonts/Rafale/Rafale.ttf"), 
         url("../fonts/Rafale/Rafale.eot");
}

@font-face {
    font-family: "AC";
    src: url("../fonts/AC/AC.otf"),
         url("../fonts/AC/AC.woff");
}