@import 'reset';
@import 'fonts';
@import 'helpers';

body {
    display: flex;
    flex-direction: column;
    .header {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .header__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            .social {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                a {
                    margin-right: .4vw;
                    :last-child {
                        margin-right: 0;
                    }
                }
            }
            .search-number {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                .search {
                    margin-right: 50px;
                    border: 1px solid rgb(167, 167, 167);
                    border-radius: 3px;
                    padding: 2px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: auto;
                    .search-input {
                        height: 25px;
                        width: 160px;
                        border: none;
                        padding-left: 4px;
                        :focus {
                            outline: none;
                        }
                    }
                    .search-btn {
                        height: 25px;
                        width: 25px;
                        border: none;
                        background-color: #fff;
                        margin-left: 0;
                        background-image: url('../../img/search.png');
                        cursor: pointer;
                    }
                }
                .call-number {
                    color: rgb(153, 153, 153);
                    font-weight: 600;
                    font-size: 13px;
                    font-style: italic;
                }

            }

        }
        .line {
            background: linear-gradient(90deg, rgb(255, 5, 5), #ff9292);
            width: 100%;
            height: 2px;
            border: none;
        }
        .header__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .logos {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .logo1-container {
                    padding-right: 20px;
                    border-right: 2px solid red;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    a {
                        font-size: 38px;
                        font-family: "AC";
                        font-weight: 600;
                        color: white;
                        background-color: rgb(255, 0, 0);
                        padding: 0 14px;
                        border-radius: 4px;
                        box-shadow: 0.15em 0.15em 1px rgba(122,122,122,0.5);
                    }
                    a:hover {
                        background-color: rgb(216, 0, 0);
                    }
                }
                .logo2 {
                    padding-left: 20px;
                }
            }
            
            .nav {
                a {
                    margin-left: 10px;
                    padding-bottom: 7px;
                    font-size: 16px;
                    color: rgb(146, 146, 146);
                }
                a:hover {
                    border-bottom: 2px solid rgb(216, 0, 0); 
                    color: rgb(90, 90, 90);
                }   
                a.active {
                    color: rgb(214, 0, 0);
                    border-bottom: 2px solid rgb(216, 0, 0);
                }
                a:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    .main img {
    width: 100%;
    height: 84vh;
    } 
    .footer {
        margin-top: 50px;
        height:auto;
        background-color: #292c2f;
        width: 100%;
        .footer-container {
            margin-top: 40px;
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .foot-nav-list {
                margin-top: 15px;
                margin-left: 25px;
                li {
                    color: rgb(231, 231, 231);
                    a {
                        font-weight: 600;
                        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        color: inherit;
                        margin-top: 4px;
                        font-size: 17px;
                    }
                }
            
            }
            .foot-cont-flex p {
                margin: 20px 0 0 10px;
            
            }
            .logo1-container a {
                font-size: 38px;
                font-family: "AC";
                font-weight: 600;
                color: red;
                background-color: white;
                padding: 0 14px;
                border-radius: 4px;
                box-shadow: 0.15em 0.15em 1px rgba(122,122,122,0.5);
            }
            .info-container {
                p {
                    font-size: 14px;
                    color: rgb(187, 187, 187);
                }
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 25px;
                }
            
            }
            .description-container {
                width: 250px;
                cite {
                    font-size: 15px;
                    color: rgb(187, 187, 187);
                }
            
            }
        }
    }
}















